AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccess.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessCustomErrors.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessAuthentication.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessEditor.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessGlobalization.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessPages.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/ITInfoPlus.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessEncryption.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessProfile.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessMachineKey.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessDebugMode.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/iQuranAccessDatePicker.config
AccessQuran Projects/iQuran.Features.UI/WebConfigSrc/Web1.config
AccessQuran Projects/iQuran.Features.UI/bin/AccessQuran/MojoPortal/ghalib/SimpleSearchList.ascx
AccessQuran Projects/iQuran.Features.UI/bin/AccessQuran/MojoPortal/ghalib/SimpleSearchBox.ascx
AccessQuran Projects/iQuran.Features.UI/bin/AccessQuran/MojoPortal/ghalib/AdvancesdSearchBox.ascx
AccessQuran Projects/iQuran.Features.UI/bin/AccessQuran/MojoPortal/ghalib/AdvancedSearchList.ascx
AccessQuran Projects/iQuran.Features.UI/bin/AccessQuran/MojoPortal/ghalib/LanguageSetting.ascx