<?xml version="1.0"?>
<!-- mojoPortal supports either Forms authentication (Internet) or Windows authentication 
           (for intranets).  Forms Authentication is the default.  To change to Windows authentication, 
           comment the <authentication mode="Forms"> section below, and uncomment the 
           <authentication mode="Windows"> section. 
  
        For using Active Directory or OpenLDAP use Forms authentication.
           
      <authentication mode="Windows" />
        <authorization>
            <deny users="?" />
        </authorization>
                 
    -->
<authentication mode="Forms">
	<!-- timeout value is in minutes determines how long the authentication cookie is valid
        default 20160 is 2 weeks 1440 minutes per day x 14 days, mainly affects persistent cookie when rmember me is checked at login time
        since otherwise the cookie is a session cookie and also expires when the browser is closed
        however it does affect both persistent and non persistent cookies since the browser could be kept open for 2 weeks
        -->
	<forms name=".Shine4All" protection="All" timeout="20160" path="/" cookieless="UseCookies" loginUrl="~/Secure/Login.aspx" />
	<!-- if you have an SSL certificate installed you should add requireSSL="true" to make sure that the auth cookie is not
      passed in the request header for non ssl requests:
      <forms name=".mojochangeme" protection="All" timeout="129600" path="/" cookieless="UseCookies" requireSSL="true" />
      
      -->
</authentication>