<?xml version="1.0"?>
<!-- Set debugmode to false for production -->
<compilation debug="true" defaultLanguage="C#" targetFramework="4.5">
	<assemblies>

		<!-- AJAX Extensions suport needed for WebPart drag and drop in non IE browsers -->
		<!-- uncomment this if you have the MyPage Feature installed -->
		<!--
        <add assembly="Microsoft.Web.Preview, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        -->
		<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
	</assemblies>
</compilation>
