<?xml version="1.0"?>
<mojoEncryption>
  <!--
			For best security, you should generate your own RSA Key and put it here before you start using the site.
		-->
  
	<RSAKeyValue>
		<Modulus>vPDRifOlYDJZDPP0TUeZFHkR5t/DoR27ZNez1YbGJ2D0i4+tyTChDhWaBRhGaF9g8vIp3fF/AKC5UMQJeZ3wKGxAoRLgXhOcqNDHf9GXh16KpnByOylRbENxKCqdF4lPwXUCd9Ul2J3TbiXbvJDwrgnssChBhjrEDKibwnBd+6U=</Modulus>
	<Exponent>AQAB</Exponent>
		<P>7K1Ck2SnN2MQTYcpvTQVCfs8uvdFSP91kkyuptz+ei2Kt8muHxnnX4ymWL3H24IXUwbsJ+AOlaGxsO4klPLr7w==</P>
		<Q>zF3VrCX0na2eqxt+pa6ne7+wQdIdsv4+cWN0+Ag7glGxtZDTpK9XBnDk/2jFl6idatpQm0OvhPJo1QhTS5TNqw==</Q>
		<DP>W44KmwnsxbhErjkDJHXpTZsquwi8fKiVyqpvRY1nw8uqRb525QEYSBYYo2uGzJteenfLEwHRooCSRGdbL2NpcQ==</DP>
		<DQ>ASded3RXZzR9utWS53iO9YHlitmW1VXeIGHBXU0emOPBLxc8OqfKw/yLLm32/54yFVJaNiYxrXx43wsG/Vw/tQ==</DQ>
		<InverseQ>6rLdYDhrWZTX5ILx94tDjiQK0DuAWioR+0fjgAGy9tJOD3GMFDfyopKbtjZCo6wyjTXCP4XIhD9FxwL7RayfOA==</InverseQ>
		<D>pJUh8glLBYDWEXJwXOEBd9P+xB4nSzGbCzzaaiX8dlD+tJNzzs2NfbdTcxyyODjdOsO3tJ2pA+L9il0547awewWgnI97JLlXNUwSy5aj5g7245Tcf3L8eoMOn+cVQuhmu3rv1GlLQQtiRS7rpR9KVN7pGpv6VVm0ajfDxC+HdAE=</D>
	</RSAKeyValue>
</mojoEncryption>

  <!-- This file contains the RSA key used for our CryptoHelper. For best security, you should 
         generate your own RSA key in a different file, and then set the path to the file here. 
         You should do this before encrypting any data, because if you change the key you won't be 
         able to decrypt anything that was encrypted with the previous key. 
         you can generate a key for .NET 4 as follows:
         C:\Windows\Microsoft.NET\Framework\v4.0.30319>aspnet_regiis -pc "MyKeys" -exp
          C:\Windows\Microsoft.NET\Framework\v4.0.30319>aspnet_regiis -px "MyKeys" "C:\inetpub\RSAKeys\portalname\keys.xml" -pri
         -->