-- =============================================  
-- Description: SP Insert Default Data  
-- =============================================


DECLARE @SiteGuid uniqueidentifier
Set @SiteGuid = (select Top(1) SiteGuid from mp_Roles)

INSERT mp_Roles ( SiteID, RoleName, DisplayName, SiteGuid, RoleGuid )
VALUES ( 1, 'iQuranManagers', 'iQuran Managers', @SiteGuid, NEWID() ),
( 1, 'iQuranContentsAdmins', 'iQuran Contents Editors', @SiteGuid, NEWID() )

GO

